<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Request Form</title>


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="../css/new-user.css">


</head>

<body>

    {{> navbar userImg=data.userImage }}



    <div class="container-flex">
        <div class="row m-0">
            <div class="col-2 p-0 position-fixed">
                {{> financialSidebar userImg=data.userImage }}
            </div>

            <div class="col-9" style="margin: 3% 20%;">

                <form action="/data/updatePiDetails" method="post">
                    <h1 class="my-4">Proforma Invoice Form</h1>
                    <hr>

                    <input type="hidden" id="counterVal" name="counter" value='{{data.counter}}'>
                    <input type="text" id="piNumber" name="piNumber" readonly value='{{data.piNumber}}'>
                    <br>

                    <br>
                    <input type="text" placeholder="Company Name" value="{{data.companyName}}" name="companyName"
                        id="comp" required>
                    <br>

                    <br>
                    <input type="text" placeholder="Contact" value="{{data.contact}}" name="contact" id="contact"
                        required>

                    <br>

                    <br>
                    {{#eachProperty data.testData}}
                    <div id="testCollection">
                        <input style="width: 24.50%;" type="text" placeholder="Test Type" value="{{value.testType}}" name="testType" id="test"
                            required>
                        <input style="width: 24.50%;" type="text" placeholder="Number of Sample" value="{{value.noOfSample}}" name="noOfSample"
                            id="noOfSample" required>
                        <input style="width: 24.50%;" type="text" placeholder="Conditions" value="{{value.conditions}}" name="cost"
                            id="cost" required>
                        <input style="width: 24.50%;" type="text" placeholder="Cost" value="{{value.cost}}" name="cost"
                            id="cost" required>
                    </div>
                    {{/eachProperty }}

                    <button type="submit" class="registerbtn" id="testAddBtn" onclick="add_TestField()">Add</button>
                    <button type="submit" class="cancelbtn" id="testRemBtn" onclick="remove_TestField()">Remove</button>
                    <br><br>

                    <input type="text" placeholder="Total Cost" name="totalCost" value="{{data.totalCost}}"
                        id="totalCost" required>
                    <br>

                    <input type="text" placeholder="Advance Payment" name="advancePayment" id="advancePayment">
                    <br>
                    <br>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="poDoStatus" value="Yes" id="flexRadioDefault1" required>
                        <label class="form-check-label" for="flexRadioDefault1">
                            PO/DO Given
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="poDoStatus" value="No" id="flexRadioDefault2" checked
                            required>
                        <label class="form-check-label" for="flexRadioDefault2">
                            PO/DO Not Given
                        </label>
                    </div>
                    <br>
                    <input type="text" placeholder="PO/DO No." name="poDoNo" id="poDoNo">
                    <select id="role" name="piStatus" aria-label=".form-select-sm example">
                        <option disabled="disabled" selected>Is PI Accepted</option>
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                    </select>

                    <hr>
                    <button type="submit" id="submitBtn" class="subbtn">Submit</button>
                </form>
            </div>
        </div>
    </div>

    <script>
        function add_TestField() {
            var counter = document.getElementById("counterVal").value;
            html = `<div><input type="text" placeholder="Test Type" name="testType" id="test${counter}" required>
              <input type="text" placeholder="Number of Sample" name="noOfSample" id="no${counter}" required>
              <input type="text" placeholder="Conditions" name="conditions" id="no${counter}" required>
              <input type="text" placeholder="Cost" name="cost" id="cost${counter}" required>
              </div>`
            var testData = document.getElementById("testCollection")
            testData.innerHTML += html
            counter++;
            document.getElementById("counterVal").value = counter.toString();
        }

        function remove_TestField() {
            var counter = document.getElementById("counterVal").value;
            if (counter <= 1) {
                alert("Atleast One field is Compulsory");
            } else {
                var testData = document.getElementById("testCollection")
                testData.removeChild(testData.lastChild)
                counter--;
                document.getElementById("counterVal").value = counter.toString();
            }
        }


    </script>

    <script>
        $("#fileImage").click(function (e) {
            $("#fileUpload").click();
        });
        function fasterPreview(uploader) {
            if (uploader.files && uploader.files[0]) {
                $('#fileImage').attr('src',
                    window.URL.createObjectURL(uploader.files[0]));
            }
        }
        $("#fileUpload").change(function () {
            fasterPreview(this);
        });
    </script>
</body>

</html>